In [14]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [15]:
df = pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [19]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [20]:
for col in df.columns:
    print(col,"  ",(df[col] == 0).sum())

Pregnancies    111
Glucose    5
BloodPressure    35
SkinThickness    227
Insulin    374
BMI    11
DiabetesPedigreeFunction    0
Age    0
Outcome    500

BloodPressure , Glucose , SkinThickness , Insulin and BMI can't be Zero(0), not possible for any person .

In [21]:
lisT=['BloodPressure' ,'Glucose' , 'SkinThickness' , 'Insulin' ,'BMI']
for val in lisT:
    df[val].replace(0,df[val].mean(), inplace=True)

In [22]:
for col in df.columns:
    print(col,"  ",(df[col] == 0).sum())

Pregnancies    111
Glucose    0
BloodPressure    0
SkinThickness    0
Insulin    0
BMI    0
DiabetesPedigreeFunction    0
Age    0
Outcome    500

In [23]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.000000,79.799479,33.6,0.627,50,1
1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31,0
2,8,183.0,64.0,20.536458,79.799479,23.3,0.672,32,1
3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.000000,180.000000,32.9,0.171,63,0
764,2,122.0,70.0,27.000000,79.799479,36.8,0.340,27,0
765,5,121.0,72.0,23.000000,112.000000,26.2,0.245,30,0
766,1,126.0,60.0,20.536458,79.799479,30.1,0.349,47,1
767,1,93.0,70.0,31.000000,79.799479,30.4,0.315,23,0

In [7]:
X = df.drop(['Pregnancies','DiabetesPedigreeFunction','Outcome'], axis=1)
y = df.Outcome

In [8]:
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [9]:
from joblib import dump,load

dump(scaler, 'scaler4.joblib')

['scaler4.joblib']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,stratify=y, random_state=30)

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
param_grid = {'bootstrap': [True, False],
 'max_depth': [5,10,15,20,25,30 ,None],
 
 'min_samples_leaf': [1, 2, 3,4,5],
 'min_samples_split': [2, 4,6],
 'n_estimators': [200, 400, 600, 800]
             }
print('-----------------Start----------------')
grid_search = GridSearchCV(RandomForestClassifier(), param_grid, cv=5, n_jobs=-1)

# Fit the grid search object to the data
grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
print('-----------------End----------------')

-----------------Start----------------
-----------------End----------------

In [26]:
model2 = RandomForestClassifier(**best_params)

In [27]:
model2.fit(X_train, y_train)
y_pred2 = model2.predict(X_test)

In [28]:
accuracy_score(y_test,y_pred2)

0.78125